/* Global */

body {
    background-color: black;
    color: white;
    font-family: 'Inconsolata', 'sans-serif';
}

.link {
    color: white;
    text-decoration: none;
}

.bodyText {
    color: white;
    font-size: 20px;
}

.hidden {
    display: none;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.title {
    color: white;
    font-size: 36px;
    font-weight: bold;
    padding-right: 35px;
}

.githubLogoContainer {
    height: 30px;
    width: 30px;
    background-color: #CDCDCD;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.githubLogo {
    height: 25px;
    width: 25px;
}

#mobileSupport {
    display: none;
}

/* Content */
.contentContainer {
    display: flex;
    margin-top: 5%;
}

.pageContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;

    width: 100%;

    padding-left: 5%;
    padding-right: 5%;
}

.inputFormContainer {
    align-self: center;
}

.formElement {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    margin-bottom: 20px;;
}

.inputForm {
    display: grid;
    grid-template-columns: auto;

    color: black;
    font-size: 20px;
}

.inputContainer {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 420px;
    height: 50px;

    background-color: #DFF8EB;
    border-radius: 50px
}

#summary {
    height: 200px;
    border-radius: 10px;
}

#summaryLabel {
    align-self: normal;
    padding-top: 20px;
}

#summaryTextBox {
    align-self: start;
    padding-top: 20px;

    height: 160px;
    word-wrap: break-word;
}

.formLabel {
    display: inline-block;
    width: 20%;
    
    padding-left: 2%;
    margin-right: 10px;

    font-weight: 700;
}

.textBox {
    background-color: transparent;
    resize: none;
    width: 250px;

    font-size: 18px;
    align-content: center;

    margin-right: 10px;
    max-width: 200ch;

    border: 0;
    border-bottom: 1px solid gray;
    outline: none;
    transition: 0.1s ease-in-out;

    font-family: 'Inconsolata', 'sans-serif';
    font-size: 18px;
}

.textBox:focus {
    border-bottom: 2px solid black;
}

.charCount {
    color: #CDCDCD;
    margin-left: 30px;
    width: 90px;
}

.leftSide {
    display: grid;
    grid-template-columns: auto;
}

.submitButton {
    background-color: #C3D9CE;

    width: 100px;
    height: 40px;

    justify-self: center;

    font-family: 'Inconsolata', 'sans-serif';
    font-weight: 600;
    font-size: 18px;

    border: none;
    border-radius: 50px;
}

.submitButton:disabled {
    color: black;
}

.submitButton:disabled:hover {
    background-color: #C3D9CE;
    cursor: wait;
}

.submitButton:hover {
    cursor: pointer;
    user-select: none;

    background-color: #9EB5A7;
    transition: 0.2s ease-in-out;
}

.errorMessage {
    color: red;
    font-size: 12px;
    margin-top: 20px;
    justify-self: center;
}


/* response */
.responseContainer {
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
}

.response {
    background-color: #5B7553;
    border-radius: 25px;
    width: 500px;
    height: 500px;
}

.responseText {
    padding: 5%;
    padding-top: 0%;
    font-size: 14px;

    width: 450px;
    height: 450px;

    display: flex;
}

#responseText {
    user-select: none;
    word-wrap: break-word;
    align-self: center;
}

.copyButtonContainer {
    justify-self: center;

    height: 50px;
    width: 100px;

    display: flex;
    border: none;
    border-radius: 50px;

    background-color: #C3D9CE;
    justify-content: center;
    align-items: center;
}

#copyButton {
    background-color: transparent;
    border: none;
    justify-self: center;
}

.copyButtonContainer:hover {
    cursor: pointer;
    user-select: none;

    background-color: #9EB5A7;
    transition: 0.2s ease-in-out;
}

.copyButton {
    font-family: 'Inconsolata', 'sans-serif';
    color: black;
    font-size: 18px;
    background-color: transparent;
    border: none;
}

.copyIcon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

@media screen and (max-width:600px) {
    .navbar {
        padding-left: 25px;
        padding-right: 25px;
    }

    .title {
        font-size: 24px;
        padding: 0;
    }

    #support {
        display: none;
    }

    #mobileSupport {
        display: block;
    }

    .githubLogoContainer {
        width: 25px;
        height: 25px;
    }

    .githubLogo {
        width: 20px;
        height: 20px;       
    }

    .contentContainer {
        position: relative;
        z-index: 1;
    }

    .pageContent {
        display: block;
        padding-top: 10%;
        padding-left: 5%;
    }

    .inputForm {
        column-gap: 5px;
        font-size: 16px;
    }

    .inputContainer {
        width: 280px;
        height: 50px;
    }
    
    .formElement {
        display: grid;
        grid-template-columns: auto auto;
    }

    .textBox {
        font-size: 14px;
        margin-left: 5px;
    }

    .formLabel {
        padding-left: 8px;
    }

    .charCount {
        margin-left: 5px;
        width: auto;
        font-size: 12px;
    }

    .submitButton {
        margin-bottom: 50px;
    }

    .response {
        width: 100%;
        height: 400px;
        margin-bottom: 25px;

        display: flex;
    }

    .responseText {
        width: 90%;
        height: 350px;
        align-self: center;
        font-size: 8px;
        padding-bottom: 0;
    }
}

/* 
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */